
@section Css
{
    <title>Uplay guide</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
}

<div class="guide-content-section">
    <div class="guide-content">
        <div class="guide-text">
            <p>
                <span class="g-num">1.</span> @localizer["one"] : <a target="_blank" class="g-num" href="https://www.ubisoft.com/en-gb/help/connectivity-and-performance/article/installing-or-reinstalling-ubisoft-connect-pc/000063173">@localizer["ubi"]</a>
            </p>
        </div>
        <div class="guide-text">
            <p>
                <span class="g-num">2. </span> @localizer["two"]
            </p>
        </div>
        <div class="guide-text">
            <p>
                <span class="g-num">3.</span> @localizer["three"]
            </p>
        </div>
        <div class="guide-text">
            <p>
                <span class="g-num">4.</span> @localizer["four"]
            </p>
        </div>
        <div class="guide-image g-half">
            <a>
                <img src="/static/img/guide/ubisoft.jpg" alt="">
            </a>
        </div>
        <div class="guide-text">
            <p>
                <span class="g-num">5.</span> @localizer["five"]
            </p>
        </div>
        <div class="guide-text">
            <p>
                @localizer["note"]
            </p>
        </div>
    </div>
</div>