
@section Css
{
    <title>Xbox game pass guide</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
}

<div class="guide-content-section">
    <div class="guide-content">
        <div class="guide-text">
            <p>
                <span class="g-num">1.</span> @localizer["one"]
            </p>
        </div>
        <div class="guide-image g-half">
            <a>
                <img src="/static/img/guide/MS.jpg" alt="">
            </a>
        </div>
        <div class="guide-text">
            <p>
                <span class="g-num">2. </span> @localizer["two"] : <a target="_blank" href="https://www.xbox.com/en-US/apps/xbox-app-for-pc" class="g-num">@localizer["xbox"]</a>
            </p>
        </div>
        <div class="guide-image g-half">
            <a>
                <img src="/static/img/guide/xbox1.jpg" alt="">
            </a>
        </div>
        <div class="guide-text">
            <p>
                <span class="g-num">3.</span> @localizer["three"].
            </p>
        </div>
        <div class="guide-image g-half">
            <a>
                <img src="/static/img/guide/xbox2.jpg" alt="">
            </a>
        </div>
        <div class="guide-text">
            <p>
                @localizer["note"]
            </p>
        </div>
        <div class="guide-image g-half">
            <a>
                <img src="/static/img/guide/xbox5.jpg" alt="">
            </a>
        </div>
        <div class="guide-image g-half">
            <a>
                <img src="/static/img/guide/xbox6.jpg" alt="">
            </a>
        </div>
    </div>
</div>