@model Product_of_GamerModel

@{
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product Of Gamer Edit</h4>
            <form class="form-sample" asp-controller="Admin" asp-action="ProductOfGamerEdit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="UserId" class="col-sm-3 col-form-label">User</label>
                            <div class="col-sm-9">
                                <select asp-for="UserId" class="form-control">
                                    <option>Select</option>
                                    @foreach (var u in Model.Users)
                                    {
                                        <option value="@u.Id">@u.UserName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="IsApproved" class="col-sm-3 col-form-label">IsApproved</label>
                            <div class="col-sm-9">
                                <select asp-for="IsApproved" class="form-control">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="GameNameID" class="col-sm-3 col-form-label">Game</label>
                            <div class="col-sm-9">
                                <select asp-for="GameNameID" class="form-control">
                                    <option>Select</option>
                                    @foreach (var u in Model.Gns)
                                    {
                                        <option value="@u.Id">@u.GameOfName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DiviceID" class="col-sm-3 col-form-label">Divice</label>
                            <div class="col-sm-9">
                                <select asp-for="DiviceID" class="form-control">
                                    <option>Select</option>
                                    @foreach (var u in Model.Divs)
                                    {
                                        <option value="@u.Id">@u.DiviceName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Login" class="col-sm-3 col-form-label">Login</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Login" value="@Model.Login" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Password" value="@Model.Password" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Price" class="col-sm-3 col-form-label">Price</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Price" value="@Model.Price" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Slider_img1">Slider Image 1</label>
                            <input type="hidden" asp-for="Slider_img1" />
                            <img src="~/static/img/pog/@Model.Slider_img1" width="150" alt="Xəta baş verdi" />
                            <input type="file" name="file1" class="form-control" />
                            <span asp-validation-for="Slider_img1" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Slider_videolink" class="col-sm-3 col-form-label">Slider Video Link</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Slider_videolink" value="@Model.Slider_videolink" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Slider_img2">Slider Image 2</label>
                            <input type="hidden" asp-for="Slider_img2" />
                            <img src="~/static/img/pog/@Model.Slider_img2" width="150" alt="Xəta baş verdi" />
                            <input type="file" name="file2" class="form-control" />
                            <span asp-validation-for="Slider_img2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Text" class="col-sm-3 col-form-label">Text</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Text" value="@Model.Text" class="form-control" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Slider_img3">Slider Image 3</label>
                            <input type="hidden" asp-for="Slider_img3" />
                            <img src="~/static/img/pog/@Model.Slider_img3" width="150" alt="Xəta baş verdi" />
                            <input type="file" name="file3" class="form-control" />
                            <span asp-validation-for="Slider_img3" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>