
@section Css
{
    <title>Policy</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
}

<style>
    .policy {
        margin: 20px 10px 15px 20px;
        color: #fff;
    }

    h2 {
        text-align: center;
    }

    span {
        color: #53c99c;
    }
</style>
<div class="guide-content-section">
    <div class="guide-content">
        <div class="policy">
            <h2 class="h4">
                @localizer["title"]
            </h2>
            <br />
            <h2 class="h3">
                @localizer["title2"]
            </h2>
            <br />
            <br />
            <h3>
                <pre>@localizer["parts"]</pre>
            </h3>
            <br />
            <div class="parts">
                @localizer["one"]
                <br />
                <br />
                @localizer["two"]
                <br />
                <br />
                @localizer["three"]
                <br />
                <br />
                @localizer["four"]
                <br />
                <br />
                @localizer["five"]
                <br />
                <br />
                @localizer["six"]
                <br />
                <br />
                @localizer["seven"]
                <br />
                <br />
                @localizer["eight"]
                <br />
                <br />
                @localizer["nine"]
                <br />
                <br />
                @localizer["ten"]
                <br />
                <br />
                @localizer["eleven"]
                <br />
                <br />
                @localizer["twelve"]
                <br />
                <br />
                @localizer["thirteen"]
                <br />
                <br />
                @localizer["fourteen"]
                <br />
                <br />
                @localizer["fifteen"]
                <br />
                <br />
                @localizer["sixteen"]
                <br />
                <br />
                @localizer["seventeen"]
                <br />
                <br />
                @localizer["eighteen"]
                <br />
                <br />
                @localizer["nineteen"]
                <br />
                <br />
                @localizer["twenty"]
            </div>

        </div>
    </div>
</div>


@section Scripts
{
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.migrate.js"></script>
}