@model LoginModel

@{
    Layout = "_LayoutLog-Reg";
}

@section Css
{
    <title>Login</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
}

<div class="center-login-panel" style="background-image: url();">
    <div class="center-panel-content">
        <h4 class="logreg_title">@localizer["login"]</h4>
        <form asp-controller="Account" asp-action="Login" method="post">
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <div class="form">
                <div class="pp_logreg-content">
                    <input class="center-panel-input" asp-for="Email" type="email" placeholder="@localizer["email"]">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="pp_logreg-content">
                    <div class="pp_input_password-content">
                        <input id="login_password" class="center-panel-input" type="password" asp-for="Password" name="Password"
                               placeholder="@localizer["password"]">
                        <button onclick="seeorhide_input('login_password')" type="button"
                                class="seeorhide login_password">
                            <i class="las la-eye-slash"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="login-info-content">
                    <a class="forgot_password" href="/account/forgotpassword">@localizer["forgot"]</a>
                </div>
                <input type="submit" class="pp_button pp_form-input" value="@localizer["loginbtn"]">
            </div>
        </form>
        <p class="notorhave">
            @localizer["reg"]
        </p>
    </div>
</div>

@section Scripts
{
    <script src="/static/js/jquery.js"></script>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/static/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
