<div class="footer-top-section">

    <div class="logo">
        <a href="#">
            <img src="/static/images/playpoint-name-white.svg" alt="">
        </a>
    </div>
    <div class="footer_nav">
        <ul>
            <li><a href="/home/index">@localizer["home"]</a></li>
            <li><a href="/product/list">@localizer["categories"]</a></li>
        </ul>
    </div>
    <div class="footer_nav">
        <ul>
            <li><a href="/product/product_of_gamer/list">@localizer["gamershop"]</a></li>
            <li><a href="/comingsoon">@localizer["partnership"]</a></li>
        </ul>
    </div>
    <div class="footer_nav">
        <ul>
            <li><a href="https://discord.gg/pyTeq8bwSN" target="_blank">@localizer["community"]</a></li>
            <li><a href="/about">@localizer["about"]</a></li>
        </ul>
    </div>

</div>
<div class="footer-bottom-section">
    <div class="social-section">
        <a href="https://www.facebook.com/playpoint.store" target="_blank"><i class="lab la-facebook-f"></i></a>
        <a href="https://www.instagram.com/playpoint.store/" target="_blank"><i class="lab la-instagram"></i></a>
        <a href="https://twitter.com/PlayPoint_store" target="_blank"><i class="lab la-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UC3Dkcw-Y61QtViw2Gz7o0jA/" target="_blank"><i class="lab la-youtube"></i></a>
        <a href="https://www.twitch.tv/playpoint_store" target="_blank"><i class="lab la-twitch"></i></a>
        <a href="https://discord.gg/pyTeq8bwSN" target="_blank"><i class="lab la-discord"></i></a>
    </div>
    <h6>© Copyright.All rights reserved</h6>
</div>